img.logo {
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

img.divider {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    max-width: var(--max-width);
}

img.thumbnail {
    width: calc(0.20 * var(--max-width));
}

img.std, video.std {
    width: 100%;
    max-width: var(--max-width);
}
