:root {
    --max-width: 1080px;
}

body {
    background-color: #000000;
}

div.centered {
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: center;
}

div.stacked-parent {
    position: relative;
    top: 0px;
}

.stacked {
    position: absolute;
    top: 0px;
}

div.padding {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.no-show {
    opacity: 0;
}

.collapsed {
    display: none;
}
