<!-- Footer -->
<div class="centered">
    <div class="header_footer" id="footer">

        <!-- Buttons -->
        <button id="video_button">Watch More Videos</button>
        <a href="online"><button>Play The Online Demo</button></a>
        <button id="read_button">Read More</button>
        <button id="pnp_button">Print and Play</button>

        <!-- Video Thumbnails -->
        <div class="padding">
            <div class="collapsed" id="video_thumbnails">
                <a href="home"><img class="thumbnail" src="media/landing_thumbnail.png"></a>
                <a href="empire"><img class="thumbnail" src="media/empire_thumbnail.png"></a>
                <a href="nowait"><img class="thumbnail" src="media/nowait_thumbnail.png"></a>
                <a href="constructed"><img class="thumbnail" src="media/constructed_thumbnail.png"></a>
            </div>
        </div>

        <!-- Reading Thumbnails -->
        <div class="padding">
            <div class="collapsed" id="read_thumbnails">
                <a href="gameplay"><img class="thumbnail" src="media/gameplay_thumbnail.png"></a>
                <a href="empire-text"><img class="thumbnail" src="media/empire_thumbnail.png"></a>
                <a href="nowait-text"><img class="thumbnail" src="media/nowait_thumbnail.png"></a>
                <a href="constructed-text"><img class="thumbnail" src="media/constructed_thumbnail.png"></a>
                <a href="nowait-text"><img class="thumbnail" src="media/learn_thumbnail.png"></a>
                <a href="constructed-text"><img class="thumbnail" src="media/comprehensive_thumbnail.png"></a>
            </div>
        </div>

        <!-- PnP -->
        <div class="padding">
            <div class="collapsed" id="pnp_thumbnails">
                <a rel="noreferrer noopener" target="_blank" href="docs/Print Instructions.pdf"><img class="thumbnail" src="media/printing_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Elemental Cards.pdf"><img class="thumbnail" src="media/elemental_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Player Cards.pdf"><img class="thumbnail" src="media/player_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Subversions.pdf"><img class="thumbnail" src="media/subversions_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Learn to Play (Digital).pdf"><img class="thumbnail" src="media/learn_thumbnail.png"></a>
                <a rel="noreferrer noopener" target="_blank" href="docs/Comprehensive Rules (Digital).pdf"><img class="thumbnail" src="media/comprehensive_thumbnail.png"></a>
            </div>
        </div>

        <!-- Sign-Up Text -->
        <p class="h1"><span class="ks">Coming to Kickstarter:</span> Sign up to get notified about our launch!</p>
        <p class="p1">We'll send one update each month. Opt-out at any time.</p>

        <!-- Sign-Up Form -->
        <div id="subscribe_form">
            <input type="text" name="email" id="subscribe_email" placeholder="Email">
            <button id="subscribe_button" class="subscribe">Submit</button>
        </div>
        <div id="subscribe_success_box" class="collapsed">
            <div class="centered">
                <p class="h2" id="subscribe_success_message">
                    Thanks!
                    You'll be the first to know when we decide to launch.
                </p>
            </div>
        </div>

        <!-- Divider -->
        <img src="media/divider.png" class="divider">
    </div>
</div>

<!-- Scripts -->
<script type="text/javascript" src="script/footer.js"></script>
