<div class="centered">
    <div class="no-show" id="footer">

        <!-- Buttons -->
        <button id="video_button">Watch More Videos</button>
        <button>Play The Online Demo</button>
        <button>Read More</button>
        <button>Print and Play</button>

        <!-- Video Thumbnails -->
        <div class="padding">
            <div class="collapsed" id="video_thumbnails">
                <a href="landing.html"><img class="thumbnail" src="media/landing_thumbnail.png"></a>
                <a href="empire.html"><img class="thumbnail" src="media/empire_thumbnail.png"></a>
                <a href="nowait.html"><img class="thumbnail" src="media/nowait_thumbnail.png"></a>
                <a href="constructed.html"><img class="thumbnail" src="media/constructed_thumbnail.png"></a>
            </div>
        </div>

        <!-- Sign-Up Text -->
        <p class="h1"><span class="ks">Coming to Kickstarter:</span> Sign up to get notified about our launch!</p>
        <p class="p1">We'll send one update each month. Opt-out at any time.</p>

        <!-- Divider -->
        <img src="media/divider.png" class="divider">
    </div>
</div>
