<!-- Favicon -->
<link rel="icon" type="image/png" href="media/icon.png" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="style/page.css" />
<link rel="stylesheet" type="text/css" href="style/font.css" />
<link rel="stylesheet" type="text/css" href="style/media.css" />
<link rel="stylesheet" type="text/css" href="style/buttons.css" />

<!-- Meta -->
<meta name="theme-color" content="#000000">
